{% extends "base.html" %}
{% block middle %}

    <!-- Middle Column -->
    <div class="w3-col m7">
    
        <div class="w3-container">
          
          <h3>company logo</h3>
          <p>You can't set this here. It is always used from the file in /static/img/logo.png so you can replace it</p>

          <form class="w3-container"  action="/admin/console/set" method="POST">
          <label for="title"><h3>page title</h3></label>
          <p>Here you can edit page title</p>
          <input type="text" id="title" name="title" value="{{ title }}"><br>
          <label for="motto"><h3>motto</h3></label>
          <p>Here you can edit motto of your company</p>
          <input type="text" id="motto" name="motto" value="{{ motto }}"><br>
        </br>
         <button class="w3-button w3-white w3-border"><input type="submit" value="Change settings"></button>
            </form>

        </div>


        
      <!-- End Middle Column -->
      </div>


{% endblock %}
{% block usr %} {{ usr }} {% endblock %}