<!DOCTYPE html>
<html>
<title>{{ title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}; .mySlides {display:none;}
</style>
<body class="w3-theme-l5">
<!-- Navbar -->
{% if session.get('logged in') %}
<div class="w3-top">
 <div class="w3-bar w3-blue w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-padding-large w3-light-blue"><i class="fa fa-home w3-margin-right"></i><img src="/static/img/logo.png" class="w3-image" style="height: 0.7cm;"> | {{ motto }}</a>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large">Příspěvky</button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="/novyp" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Nový příspěvek"><i class="fa fa-edit"></i>  Nový příspěvek</a>
      <a href="/prehled" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Přehled příspěvků"><i class="fa fa-list"></i>  Přehled příspěvků</a>
    </div>
  </div>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large">Události</button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="/novau" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Nová událost"><i class="fa fa-edit"></i>  Zapsat událost</a>
      <a href="/udalosti" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Události"><i class="fa fa-list"></i>  Přehled událostí</a>
    </div>
  </div>
  {% if perms == "SUPERUSER" %}
  <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-button w3-padding-large">Admin (beta)</button>
      <div class="w3-dropdown-content w3-card-4 w3-bar-block">
        <a href="/admin/console" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Console"><i class="fa fa-cogs"></i> Console</a>
      </div>
    </div>
  {% endif %}
  <a href="/back/logout" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Odhlásit se"><i class="fa fa-sign-out"></i>  Odhlásit se</a>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">0</span></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
      <a href="#" class="w3-bar-item w3-button">There is nothing new! :)</a>
      <a href="#" class="w3-bar-item w3-button"></a>
      <a href="#" class="w3-bar-item w3-button"></a>
    </div>
  </div>
 </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-blue w3-hide w3-hide-large w3-hide-medium w3-large">
<br/>
<br/>
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-padding-large">Příspěvky</button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="/novyp" class="w3-bar-item w3-button w3-padding-large" title="Nový příspěvek"><i class="fa fa-edit"></i>  Nový příspěvek</a>
      <a href="/prehled" class="w3-bar-item w3-button w3-padding-large" title="Příspěvky"><i class="fa fa-check-square-o"></i>  Přehled příspěvků</a>
    </div>
  </div>
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-padding-large">Události</button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="/novau" class="w3-bar-item w3-button w3-padding-large" title="Nová událost"><i class="fa fa-edit"></i>  Zapsat událost</a>
      <a href="/udalosti" class="w3-bar-item w3-button w3-padding-large" title="Události"><i class="fa fa-check-square-o"></i>  Přehled událostí</a>
    </div>
  </div>
  <div class="w3-dropdown-hover">
      <button class="w3-button w3-padding-large">Nástroje (nepřístupné)</button>
      <div class="w3-dropdown-content w3-card-4 w3-bar-block">
        <a href="#" class="w3-bar-item w3-button w3-padding-large" title="Testovačky"><i class="fa fa-bicycle"></i>  Zaměstnanecké testovačky</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large" title="Evidence mobilů"><i class="fa fa-mobile"></i>  Evidence služebních telefonů</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large" title="Nástroj reklamace"><i class="fa fa-recycle"></i>  Průvodce šetrnou reklamací</a>
      </div>
    </div>
  <a href="/back/logout" class="w3-bar-item w3-button w3-padding-large">Odhlásit se</a>
</div>
{% endif %}
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">   
  {% if session.get('logged in') %} 
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">This is you.</h4>
         <p class="w3-center"><img src="/static/img/profile.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>{% block usr %} {% endblock %}</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{ title }}</p>
        </div>
      </div>
    </br>

    {% block leftcolumn %}
    {% endblock %}

      
      <!-- Interests
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Interests</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">News</span>
            <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
            <span class="w3-tag w3-small w3-theme-d3">Labels</span>
            <span class="w3-tag w3-small w3-theme-d2">Games</span>
            <span class="w3-tag w3-small w3-theme-d1">Friends</span>
            <span class="w3-tag w3-small w3-theme">Games</span>
            <span class="w3-tag w3-small w3-theme-l1">Friends</span>
            <span class="w3-tag w3-small w3-theme-l2">Food</span>
            <span class="w3-tag w3-small w3-theme-l3">Design</span>
            <span class="w3-tag w3-small w3-theme-l4">Art</span>
            <span class="w3-tag w3-small w3-theme-l5">Photos</span>
          </p>
        </div>
      </div>
      <br>
        -->
      <!-- Alert Box -->
      <!---<div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hej ty!</strong></p>
        <p>Nezapomeň se vždy usmívat. S dobrou náladou jde hned všechno lépe ;)</p>
      </div>-->
    
    <!-- End Left Column -->
    </div>
    {% endif %}
    <!-- Middle Column -->
    {% if not session.get('logged in') %}
    <div class="w3-container w3-half w3-margin-top">
    
      <div class="w3-panel w3-blue-grey">
        <h3>Pozor!</h3>
        <p>Všechny účty registrované před 19.7.2019 jsou pozastaveny. Je nutné provést novou registraci! <a href="/action/newuser">Registrovat zde</a></p>
      </div> 
        <form class="w3-container w3-card-4" action="/back/auth" method="POST">
      
        <input type="username" class="w3-input" name="jmeno" placeholder="Jméno:" required autofocus>
      
        <input type="password" class="w3-input" name="heslo" placeholder="Heslo:" required autofocus>
      
        <button class="w3-button w3-section w3-teal w3-ripple" type="submit"> Přihlásit se</button>
        
        </form>
        
        </div>
    {% endif %}  
    {% if session.get('logged in') %}
    {% block middle %}
    {% endblock %}
    {% endif %}
    <!-- End Middle Column -->
    <!-- Right Column -->

    <div class="w3-col m2">
{% block LastEvent %}{% endblock %}
      <br>
      
      <br>
      
      <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
        <p>What's new?</p>
        <p><a href="https://github.com/kgilich/internalio/wiki">See the wiki.</a></p>
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
        <p><i class="fa fa-bug w3-xxlarge"></i></p>
        <p>Any bug there?</p>
        <p><a href="https://github.com/kgilich/internalio/issues/new/choose">Create issue</a></p>
      </div>
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5><a href="https://github.com/kgilich/internalio">See more about this project</a></h5>
</footer>

<footer class="w3-container w3-theme-d5">
  <p></p>
</footer>
 
<script>
// Accordion
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else { 
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

<script>
  function myFunction() {
    var x = document.getElementById("Demo");
    if (x.className.indexOf("w3-show") == -1) {  
      x.className += " w3-show";
    } else { 
      x.className = x.className.replace(" w3-show", "");
    }
  }
  </script>
  
  {% block scripts %}
  {% endblock %}
  

</body>
</html> 

