{% extends "base.html" %}
{% block middle %}

    <!-- Middle Column -->
    <div class="w3-col m7">
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    <h3>Hey!</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu massa dui. Duis ultricies tincidunt lectus, sit amet malesuada ante tincidunt nec. Sed vitae lacinia neque, sit amet mollis turpis. Fusce dignissim consectetur commodo. Integer rhoncus dui tristique eros pellentesque, eleifend facilisis purus lobortis. Donec tincidunt volutpat bibendum. Morbi egestas congue augue quis bibendum. Sed velit tortor, ultricies non magna eget, aliquet condimentum erat. Sed mi nunc, tempor et consectetur sed, venenatis sit amet elit. Nulla ullamcorper metus ut lacus scelerisque suscipit. </p>


    <div class="w3-bar-block w3-black">
        {% for row in rows %}
        <a href="{{ row['link'] }}" class="w3-bar-item w3-hover-blue">{{ row['name'] }}</a>
        {% endfor %}
    </div>
</br>
    <p>Useful links 🠕</p>
      <!-- End Middle Column -->
    </div>      
    </div>


{% endblock %}
{% block leftcolumn %}
<h2 class="w3-center"> </h2>
            
<div class="w3-content w3-hide-small" style="max-width:400px">
  <div class="mySlides w3-container w3-large w3-blue w3-card-4">
      <h2>Efektivní komunikace</h2>
      <p>Přehledný a flexibilní komunikační nástroj pro různé potřeby</p>
  </div>

  <div class="mySlides w3-container w3-large w3-blue w3-card-4">
      <h2>Rychlý vývoj</h2>
      <p>Nové funkce, rychlá oprava chyb a snadná spolupráce</p>
  </div>

  <div class="mySlides w3-container w3-large w3-blue w3-card-4">
      <h2>Zdarma</h2>
      <p>Dostupné zcela zdarma bez žádného omezení</p>
  </div>

</div>
{% endblock %}
{% block usr %} {{ usr }} {% endblock %}
{% block LastEvent%}
 {% for row in event %}
 <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Next event</p>
          <img src="https://upload.wikimedia.org/wikipedia/commons/1/12/Icons8_flat_planner_green_calendar.png" alt="calendar" style="width:100%;">
          <p><strong>{{ row['nazev'] }}</strong></p>
          <p>{{ row['datum'] }} {{ row['cas'] }}</p>
          <p><button class="w3-button w3-block w3-theme-l4"><a href="/udalost:{{ row['ROWID'] }}">More info</a></button></p>
        </div>
      </div>
 {% endfor %}
{% endblock %}
{% block scripts %}
<script>
        var slideIndex = 0;
        carousel();
        
        function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none"; 
          }
          slideIndex++;
          if (slideIndex > x.length) {slideIndex = 1} 
          x[slideIndex-1].style.display = "block"; 
          setTimeout(carousel, 2000); 
        }
        </script>
{% endblock %}