{% extends "base.html" %}
{% block middle %}

    <!-- Middle Column -->
    <div class="w3-col m7">
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    <h3>Ahoj spoluhráči!</h3>
    <p>Na této úvodní stránce je v plánu tvá osobní domovská stránka, kterou si budeš moc přizpůsobit. Ale než k tomu dojde, můžeš jí využívat aspoň jako takový rozcestník důležitými weby "decathloňáckého" intranetu.</p>

    <div class="w3-bar-block w3-black">
            <a href="http://mail.oxylane.com/" class="w3-bar-item w3-hover-blue">Pracovní email</a>
            <a href="http://cloudsearch.google.com" class="w3-bar-item w3-hover-blue">Vyhledávání souborů a webů "decathlonem"</a>
            <a href="https://search.decathlon.com/customermatrix/" class="w3-bar-item w3-hover-blue">Vyhledávání spoluhráčů z celého světa</a>
            <a href="http://plus.google.com/" class="w3-bar-item w3-hover-blue">Sociální síť Google+</a>
            <a href="https://sites.google.com/oxylane.com/intranetdecathloncz/" class="w3-bar-item w3-hover-blue">Intranet CZ</a>
            <a href="https://wifi.decathlon.net/" class="w3-bar-item w3-hover-blue">Připojení soukromého PC na WIFI (Windows / MacOS)</a>
            <a href="https://anyaccess.decathlon.net/dana/home/index.cgi" class="w3-bar-item w3-hover-blue">Anyaccess - přístup do stores ze soukromého počítače</a>  
    </div>
</br>
    <p> Všechny tyto odkazy jsou přístupné i z domova! :)</p>
      <!-- End Middle Column -->
    </div>      
    </div>


{% endblock %}
{% block leftcolumn %}
<h2 class="w3-center"> </h2>
            
<div class="w3-content w3-hide-small" style="max-width:400px">
 <div class="mySlides w3-container w3-large w3-blue w3-card-4">
        <h2>Efektivnější komunikace napříč prodejnou</h2>
        <p>Kokunikační nástroj zcela v režii týmu - přizpůsobitelný a flexibilní.</p>
 </div>

  <img class="mySlides" src="https://s3.eu-central-1.amazonaws.com/cocuma-prod/companies/6-decathlon/images/thumbnails/18216_QO0596p.jpg" style="width:100%">

  <div class="mySlides w3-container w3-large w3-blue w3-card-4">
    <h2>Účinné nástroje</h2>
    <p>Takové, jaké si budeš přát. Na míru tvým potřebám.</p>
  </div>

  <img class="mySlides" src="https://s3.eu-central-1.amazonaws.com/cocuma-prod/companies/6-decathlon/images/thumbnails/18337_N8litSU.jpg" style="width:100%">
</div>
{% endblock %}
{% block usr %} {{ usr }} {% endblock %}
{% block scripts %}
<script>
        var slideIndex = 0;
        carousel();
        
        function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none"; 
          }
          slideIndex++;
          if (slideIndex > x.length) {slideIndex = 1} 
          x[slideIndex-1].style.display = "block"; 
          setTimeout(carousel, 2000); 
        }
        </script>
{% endblock %}