{% extends "base.html" %}
{% block middle %}

    <!-- Middle Column -->
    <div class="w3-col m7">
    

        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>

          <form class="w3-container"  action="/back/comment:{{ row }}" method="POST">
        </br>
          <label>Text komentáře</label>
        </br>
          <textarea class="w3-input w3-border" name="komentar" style="width:100%;"></textarea>
      </br>
       <button class="w3-button w3-white w3-border"><input type="submit"></button>
          </form>
       {% for row in rows %}
       <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
         <img src="https://www.telekom.sk/magenta1-skupina/img/user-icon.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
         <span class="w3-right w3-opacity">napsal dne {{ row['datum'] }}</span>
         <h4>{{ row['jmeno'] }} {{ row['prijmeni'] }}</h4><br>
         <hr class="w3-clear">
         <p>{{ row['komentar'] }}</p>
       </div>
       {% endfor %}

            
            </form>
            <div class="w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-blue">
              <p>Stejně jako ve sportu i zde existují určitá pravidla. Pokuď se chceš vyhnout "diskvalifikaci ze hry", nastuduj si je <a href="https://docs.google.com/document/d/18xeupX9-uqJgYYrkd97PktYYwvqgRZPkvrlei-pUyfk/edit?usp=sharing">zde.</a></a></p>
              <p>S pravidly souhlasíš automaticky - odesláním dotazu</p>
            </div>

        </div> 
        
      <!-- End Middle Column -->
      </div>


{% endblock %}
{% block usr %} {{ usr }} {% endblock %}