{% extends "base.html" %}
{% block middle %}

    <!-- Middle Column -->
    <div class="w3-col m7">
    

        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>

          <form class="w3-container"  action="/back/newevent" method="POST">
            <label>Název události</label>
            <br/>
            <input type="text" name="nazev_udalosti" placeholder="Výstižně pojmenuj novou událost.." required>
        </br>
        </br>
          <label>Popis události</label>
        </br>
          <textarea class="w3-input w3-border" name="popis_udalosti" placeholder="" style="width:100%;" required></textarea>
        </br>
        <label>Datum konání</label>
        <br/>
        <input type="date" name="datum_udalosti" placeholder="" required>
        <label>Čas začátku události</label>
        <br/>
        <input type="time" name="cas_udalosti" placeholder="" required>
          

       <button class="w3-button w3-white w3-border"><input type="submit"></button>



            
            </form>
            <div class="w3-panel w3-red w3-leftbar w3-rightbar w3-border-grey">
              <p>Používáš verzi se zastaralým modulem "události"! Nejsou proto dostupné pokročilé funkce jako je potvrzování účasti, či objednávání jídla.</p>
              <p>Obrať se prosím na správce.</p>
            </div>

        </div> 
        
      <!-- End Middle Column -->
      </div>


{% endblock %}
{% block usr %} {{ usr }} {% endblock %}